/* ===== BACKGROUND ===== */
.login-wrapper {
  height: 100vh;
  width: 100%;
  background-image: url('https://nuos.in/wp-content/uploads/2026/01/SIDE-LOWER-banner-1080-X-690-1024x654.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* ===== LOGIN CARD ===== */
.login-card {
  width: 400px;
  padding: 35px 30px;
  border-radius: 12px;
  background: rgba(106, 105, 105, 0.95);
  box-shadow: 0 15px 40px rgba(232, 230, 230, 0.2);
  text-align: center;
}

/* ===== LOGO ===== */
.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo img {
  max-width: 160px;
  height: auto;
}

/* ===== TITLE ===== */
.login-card h2 {
  margin-bottom: 20px;
  color: #f7f4f4;
}

/* ===== INPUTS ===== */
.login-card input {
 width: 80%;
    margin-top: 18px;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #504e4e;
    font-size: 15px;
}

.login-card input:focus {
  outline: none;
  border-color: #2563eb;
}

/* ===== BUTTON ===== */
.login-card button {
  width: 40%;
  margin-top: 20px;
  padding: 12px;
  border-radius: 6px;
  background: #2563eb;
  color: #fdfcfc;
  border: none;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.login-card button:hover {
  background: #1e4fd1;
  color: #fff;  
}
/* ===== FORM GROUP ===== */
.form-group {
  width: 90%;
  margin-top: 16px;
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 15px;
  font-weight: 600;
  color: #e5e1e1;
  margin-bottom: -9px;
}

/* INPUTS */
.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #504e4e;
  font-size: 15px;
}

/* FOCUS */
.form-group input:focus {
  outline: none;
  border-color: #2563eb;
}

/* ===== PASSWORD WITH EYE ===== */
.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 13px; /* space for eye */
}

.eye-icon {
  position: absolute;
  right: -12px;
  top: 75%;
  transform: translateY(-65%);
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}
